In [2]:
import pandas as pd

In [4]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon").squeeze("columns")
pokemon.head()   #index col keylerin ulaştırdıgını alır

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [6]:
pokemon[0]
pokemon.get(0)   # get boşsa none döndürür

'Grass'

In [7]:
poke = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
poke.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [9]:
poke[0] = "puki"
poke.head()

0          puki
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [16]:
pokemon_df = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns")

In [17]:
pokemon_series.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [18]:
pokemon_series[0] = "Whatever"

In [19]:
pokemon_series.head()

0      Whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [20]:
pokemon_df

        Pokemon
0      Whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [ ]:
#bu şekilde pokemon_serieste değişiklik yapınca dataframe yansıyor

In [21]:
pokemon_df = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns").copy()

In [ ]:
#copy fonksiyonu ile orjinalıin kopyası
# olusuyor ve engelleniyor üstteki durum